<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.edna.pydev.extensions.jythonInSameVM"
            icon="icons/jython_run.png"
            id="org.edna.pydev.extensions.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.edna.pydev.extensions.JythonLaunchSameVM"
            id="org.edna.pydev.extensions.jythonInSameVM"
            migrationDelegate="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            modes="run, interactive"
            name="Jython Same Virtual Machine"
            public="true"
            sourceLocatorId="org.eclipse.jdt.launching.javaSourceLocator">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.python.pydev.debug.ui.JythonTabGroup"
            id="org.edna.pydev.extensions.launchConfigurationTabGroup"
            type="org.edna.pydev.extensions.jythonInSameVM">
      </launchConfigurationTabGroup>
   </extension>
-->
</plugin>
