<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="org.dawnsci.macro.console.ConsoleParticipant"
            id="org.dawnsci.macro.jythonConsolePageParticipant">
         <enablement>
            <instanceof value="org.python.pydev.debug.newconsole.PydevConsole"/>
         </enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.dawnsci.macro.macroEditorContribution"
            targetID="org.python.pydev.editor.PythonEditor">
         <action
               class="org.dawnsci.macro.console.RecordMacroAction"
               icon="icons/recordMacro.png"
               id="org.dawnsci.macro.recordMacroEditorAction"
               label="Record Macro form DAWN"
               style="toggle"
               toolbarPath="Normal/additions"
               tooltip="Records a macro as you use DAWN. The macro attempts to mimic what you do in the user interface in python commands, subject to if this is possible and curently linked.">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.python.pydev.pydev_interpreter_new_custom_entries">
      <interpreter_new_custom_entries_participant
            class="org.dawnsci.macro.Py4JNewCustomEntries">
      </interpreter_new_custom_entries_participant>
   </extension>
</plugin>
