<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   
   <!-- 
        Can move to own fragment but no-one is using Diamond plotting in dawb anyway.
        
   <extension
         point="org.dawnsci.plotting.api.plottingClass">
      <plottingSystem
            class="org.dawb.gda.extensions.plot.DiamondPlottingSystem"
            id="org.dawb.gda.extensions.plot.diamondPlottingSystem"
            visible_type="Hardware Accelerated">
      </plottingSystem>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">

     <view
            name="Side Plot (Diamond Plotting Only)"
            icon="icons/chart_line.png"
            category="org.dawb.workbench.application.data.analysis"
            class="uk.ac.diamond.scisoft.analysis.rcp.views.SidePlotView"
            id="uk.ac.diamond.scisoft.analysis.rcp.views.SidePlotView"
            allowMultiple="true">
      </view>
      <view
            name="Histogram (Diamond Plotting Only)"
            icon="icons/chart_bar.png"
            category="org.dawb.workbench.application.data.analysis"
            class="uk.ac.diamond.scisoft.analysis.rcp.views.HistogramView"
            id="uk.ac.diamond.scisoft.analysis.rcp.views.HistogramView"
            allowMultiple="true">
      </view>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="org.dawb.gda.extensions.util.PlotImageService">
         <service
               serviceClass="org.dawb.common.services.IPlotImageService"></service>
      </serviceFactory>
      <serviceFactory
            factoryClass="org.dawb.gda.extensions.util.PlotImageService">
         <service
               serviceClass="org.dawb.common.services.IFileIconService">
         </service>
      </serviceFactory>
      <serviceFactory
            factoryClass="org.dawb.gda.extensions.util.ImageService">
         <service
               serviceClass="org.dawnsci.plotting.api.histogram.IImageService">
         </service>
      </serviceFactory>
   </extension>
   <extension
         point="org.dawb.hdf5.editor.double.click.listener">
      <double_click_provider
            class="org.dawb.gda.extensions.h5.HDF5SelectionProvider">
      </double_click_provider>
   </extension>
</plugin>
