<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="conversionPage" name="Conversion Page" schema="schema/conversionPage.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.dawnsci.conversion.ui.ConvertWizardHandler"
            id="org.dawnsci.conversion.convertWizard"
            name="Convert">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.navigator.ProjectExplorer?after=additions">
         <command
               commandId="org.dawnsci.conversion.convertWizard"
               icon="icons/convert.png"
               label="Convert..."
               style="push"
               tooltip="Convert data to other formats">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.navigator.ProjectExplorer?after=additions">
         <command
               commandId="org.dawnsci.conversion.convertWizard"
               icon="icons/convert.png"
               label="Convert..."
               style="push"
               tooltip="Convert data to other formats">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.dawnsci.conversion.actions.convertContribution"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.dawnsci.conversion.ui.ConvertWizardHandler"
               enablesFor="+"
               icon="icons/convert.png"
               id="org.dawnsci.conversion.convertWizardOpen"
               label="Convert..."
               tooltip="Export file(s) by conversion to another format">
         </action>
         
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.dawnsci.conversion.actions.convertContributionFolder"
            objectClass="org.eclipse.core.resources.IContainer">
         <action
               class="org.dawnsci.conversion.ui.ConvertWizardHandler"
               enablesFor="+"
               icon="icons/convert.png"
               id="org.dawnsci.conversion.convertWizardOpen2"
               label="Convert..."
               tooltip="Export file(s) by conversion to another format">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="org.dawnsci.conversion.ui.ConvertWizard"
            icon="icons/page_white_world.png"
            id="org.dawnsci.conversion.ui.convertExportWizard"
            name="Convert Wizard">
      </wizard>
   </extension>
   <extension
         point="org.dawnsci.conversion.ui.conversionPage">
      <conversion_page
            conversion_page="org.dawnsci.conversion.ui.pages.AsciiConvertPage"
            conversion_scheme="ASCII_FROM_1D"
            id="org.dawnsci.conversion.ui.conversionAscii1D">
      </conversion_page>
      <conversion_page
            conversion_page="org.dawnsci.conversion.ui.pages.ImageConvertPage"
            conversion_scheme="TIFF_FROM_3D"
            id="org.dawnsci.conversion.ui.conversionImage">
      </conversion_page>
     <conversion_page
            conversion_page="org.dawnsci.conversion.ui.pages.ImagesToStitchedConversionPage"
            conversion_scheme="STITCHED_FROM_IMAGEDIR"
            id="org.dawnsci.conversion.ui.conversionStitchedImage">
      </conversion_page>
      <conversion_page
            conversion_page="org.dawnsci.conversion.ui.pages.TomoConvertPage"
            conversion_scheme="CUSTOM_TOMO"
            id="org.dawnsci.conversion.ui.conversionTomo">
      </conversion_page>
      <conversion_page
            conversion_page="org.dawnsci.conversion.ui.pages.AVIConvertPage"
            conversion_scheme="AVI_FROM_3D"
            id="org.dawnsci.conversion.ui.conversionVideo">
      </conversion_page>
      <conversion_page
            conversion_page="org.dawnsci.conversion.ui.pages.NCDConvertPage"
            conversion_scheme="CUSTOM_NCD"
            id="org.dawnsci.conversion.ui.conversionNCD">
      </conversion_page>
      <conversion_page
            conversion_page="org.dawnsci.conversion.ui.pages.ImageToH5ConversionPage"
            conversion_scheme="H5_FROM_IMAGEDIR"
            id="org.dawnsci.conversion.ui.conversionImageToH5">
      </conversion_page>
      <conversion_page
            conversion_page="org.dawnsci.conversion.ui.pages.H5From1DConvertPage"
            conversion_scheme="H5_FROM_1D"
            id="org.dawnsci.conversion.ui.conversionH5From1D">
      </conversion_page>
      <conversion_page
            conversion_page="org.dawnsci.conversion.ui.pages.CompareConvertPage"
            conversion_scheme="COMPARE"
            id="org.dawnsci.conversion.ui.compareConversion">
      </conversion_page>
      <conversion_page
            conversion_page="org.dawnsci.conversion.ui.pages.AlignImagesConversionPage"
            conversion_scheme="ALIGNED_FROM_3D"
            id="org.dawnsci.conversion.ui.conversionAlignImages">
      </conversion_page>
   </extension>

</plugin>
