<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="conversionPage" name="Conversion Page" schema="schema/conversionPage.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.dawnsci.conversion.ui.ConvertWizardHandler"
            id="org.dawnsci.conversion.convertWizard"
            name="Convert">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.navigator.ProjectExplorer?after=additions">
         <command
               commandId="org.dawnsci.conversion.convertWizard"
               icon="icons/convert.png"
               label="Convert..."
               style="push"
               tooltip="Convert data to other formats">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.navigator.ProjectExplorer?after=additions">
         <command
               commandId="org.dawnsci.conversion.convertWizard"
               icon="icons/convert.png"
               label="Convert..."
               style="push"
               tooltip="Convert data to other formats">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.dawnsci.conversion.actions.convertContribution"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.dawnsci.conversion.ui.ConvertWizardHandler"
               enablesFor="+"
               icon="icons/convert.png"
               id="org.dawnsci.conversion.convertWizardOpen"
               label="Convert..."
               tooltip="Export file(s) by conversion to another format">
         </action>
         
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.dawnsci.conversion.actions.convertContributionFolder"
            objectClass="org.eclipse.core.resources.IContainer">
         <action
               class="org.dawnsci.conversion.ui.ConvertWizardHandler"
               enablesFor="+"
               icon="icons/convert.png"
               id="org.dawnsci.conversion.convertWizardOpen2"
               label="Convert..."
               tooltip="Export file(s) by conversion to another format">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="org.dawnsci.conversion.ui.ConvertWizard"
            icon="icons/page_white_world.png"
            id="org.dawnsci.conversion.ui.convertExportWizard"
            name="Convert Wizard">
      </wizard>
   </extension>
   <extension
         point="org.dawnsci.conversion.ui.conversionPage">
      <conversion_page
            conversion_page="org.dawnsci.conversion.ui.pages.AsciiConvertPage"
            conversion_scheme="org.dawnsci.conversion.schemes.AsciiConvert1DScheme"
            id="org.dawnsci.conversion.ui.conversionAscii1D"
            image="conversion-images/ASCII_FROM_1D.png">
      </conversion_page>
      <conversion_page
            conversion_page="org.dawnsci.conversion.ui.pages.ImageConvertPage"
            conversion_scheme="org.dawnsci.conversion.schemes.ImageConverterScheme"
            id="org.dawnsci.conversion.ui.conversionImage"
            image="conversion-images/TIFF_FROM_3D.png">
      </conversion_page>
     <conversion_page
            conversion_page="org.dawnsci.conversion.ui.pages.ImagesToStitchedConversionPage"
            conversion_scheme="org.dawnsci.conversion.schemes.ImagesToStitchedConverterScheme"
            id="org.dawnsci.conversion.ui.conversionStitchedImage"
            image="conversion-images/STITCHED_FROM_IMAGEDIR.png">
      </conversion_page>
      <conversion_page
            conversion_page="org.dawnsci.conversion.ui.pages.TomoConvertPage"
            conversion_scheme="org.dawnsci.conversion.schemes.CustomTomoConverterScheme"
            id="org.dawnsci.conversion.ui.conversionTomo"
            image="conversion-images/CUSTOM_TOMO.png">
      </conversion_page>
      <conversion_page
            conversion_page="org.dawnsci.conversion.ui.pages.AVIConvertPage"
            conversion_scheme="org.dawnsci.conversion.schemes.AVIImageConverterScheme"
            id="org.dawnsci.conversion.ui.conversionVideo"
            image="conversion-images/AVI_FROM_3D.png">
      </conversion_page>
      <conversion_page
            conversion_page="org.dawnsci.conversion.ui.pages.NCDConvertPage"
            conversion_scheme="org.dawnsci.conversion.schemes.CustomNCDConverterScheme"
            id="org.dawnsci.conversion.ui.conversionNCD"
            image="conversion-images/CUSTOM_NCD.png">
      </conversion_page>
      <conversion_page
            conversion_page="org.dawnsci.conversion.ui.pages.ImageToH5ConversionPage"
            conversion_scheme="org.dawnsci.conversion.schemes.ImagesToHDFConverterScheme"
            id="org.dawnsci.conversion.ui.conversionImageToH5"
            image="conversion-images/H5_FROM_IMAGEDIR.png">
      </conversion_page>
      <conversion_page
            conversion_page="org.dawnsci.conversion.ui.pages.H5From1DConvertPage"
            conversion_scheme="org.dawnsci.conversion.schemes.Convert1DtoNDScheme"
            id="org.dawnsci.conversion.ui.conversionH5From1D"
            image="conversion-images/H5_FROM_1D.png">
      </conversion_page>
      <conversion_page
            conversion_page="org.dawnsci.conversion.ui.pages.CompareConvertPage"
            conversion_scheme="org.dawnsci.conversion.schemes.CompareConverterScheme"
            id="org.dawnsci.conversion.ui.compareConversion"
            image="conversion-images/COMPARE.png">
      </conversion_page>
      <conversion_page
            conversion_page="org.dawnsci.conversion.ui.pages.AlignImagesConversionPage"
            conversion_scheme="org.dawnsci.conversion.schemes.AlignImagesConverterScheme"
            id="org.dawnsci.conversion.ui.conversionAlignImages"
            image="conversion-images/ALIGNED_FROM_3D.png">
      </conversion_page>
      <conversion_page
            conversion_page="org.dawnsci.conversion.ui.pages.B18ReprocessAsciiConversionPage"
            conversion_scheme="org.dawnsci.conversion.schemes.B18ReprocessAsciiConverterScheme"
            id="org.dawnsci.conversion.ui.conversionB18ReprocessAscii"
            image="conversion-images/B18_REPROCESS_ASCII.png">
      </conversion_page>
      <conversion_page
            conversion_page="org.dawnsci.conversion.ui.pages.B18AverageConversionPage"
            conversion_scheme="org.dawnsci.conversion.schemes.B18AverageConverterScheme"
            id="org.dawnsci.conversion.ui.conversionB18Average"
            image="conversion-images/B18_AVERAGE.png">
      </conversion_page>
   </extension>

</plugin>
