<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dawnsci.analysis.api.operation">
      <operation
            category="org.dawnsci.processing.python.scripting"
            class="uk.ac.diamond.scisoft.analysis.processing.python.PythonImageToImageOperation"
            description="Process data using a python script that takes an image and returns an image"
            icon="icons/python.png"
            id="uk.ac.diamond.scisoft.analysis.processing.python.PythonImageToImageOperation"
            model="uk.ac.diamond.scisoft.analysis.processing.python.PythonScriptModel"
            name="Python Script - Image to Image">
      </operation>
      <operation
            category="org.dawnsci.processing.python.scripting"
            class="uk.ac.diamond.scisoft.analysis.processing.python.PythonImageToXYOperation"
            description="Process data using a python script that takes an image and returns XY data"
            icon="icons/python.png"
            id="uk.ac.diamond.scisoft.analysis.processing.python.PythonImageToXYOperation"
            model="uk.ac.diamond.scisoft.analysis.processing.python.PythonScriptModel"
            name="Python Script - Image to XY">
      </operation>
      <operation
            category="org.dawnsci.processing.python.scripting"
            class="uk.ac.diamond.scisoft.analysis.processing.python.PythonXYtoXYOperation"
            description="Process data using a python script that takes XY data and returns XY data"
            icon="icons/python.png"
            id="uk.ac.diamond.scisoft.analysis.processing.python.PythonXYtoXYOperation"
            model="uk.ac.diamond.scisoft.analysis.processing.python.PythonScriptModel"
            name="Python Script - XY to XY">
      </operation>
      <category
            id="org.dawnsci.processing.python.scripting"
            name="Scripting">
      </category>
   </extension>

</plugin>
